#canvasWrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: silver; /* red */
  /* height: 100%; */
  /* border: 2px solid black; Added for better visualization of the container */
}

#canvasWrapper #svgWrapper {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  /* background: white; */
  /* background: yellow; */
  position: relative;
}

#canvasWrapper #svgWrapper #svg-container {
  border: 1px solid black;
  display: block;
  margin: auto;
  background-color: white;
  background: repeating-conic-gradient(#aaa 0% 25%, transparent 0% 50%) 50% /
    20px 20px;
}

#canvasWrapper #canvasMenu {
  z-index: 2;
  position: absolute;
  bottom: 0;
  /* display: flex; */
  /* justify-content: left; */
  padding: 10px;
  /* Light grey background to distinguish the control area */
  background: #f8f9fa;
  /* Add a top border to separate from the canvas panel */
  border-top: 1px solid #e9ecef;
  width: 100%;
  /* Ensure the controls take the full width of the container */
}

#canvasWrapper #canvasMenu button {
  margin: 0 1px;
}
